// 全局变量
@import './variables.scss';

//通用配置
@import './normalize.scss';

// ele样式覆盖
@import './element-ui.scss';

a {
  text-decoration: none;
  color: #333;
}

* {
  outline: none;
  box-sizing: border-box;
}

.flex-full-empty {
 flex: 1 1;
}

.single-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-item {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin: 10px 5px;
}

.common-shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

// 被选中时背景颜色
//::selection{background:#a7bd06;color:#FFF;}
//::-moz-selection{background:#a7bd06;color:#FFF;}

::selection {
  background: #ff6c07;
  color: #fff;
}
::-moz-selection {
  background: #ff6c07;
  color: #fff;
}
